In [1]:
# 본인의 이름, 학번을 작성하여 실행하세요.
print("박세현")
print("20242174")

박세현
20242174

## 이후 강의 PDF 예제 내용을 작성하여 실행하세요.

In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [3]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' %id(self))

x = Gizmo()

y = Gizmo()

Gizmo id: 4501429216
Gizmo id: 4574448208

In [4]:
charles = {'name': 'Charles L. Dodgson', 'born':1832}
lewis = charles

In [5]:
lewis is charles

True

In [6]:
id(charles), id(lewis)

(4574654720, 4574654720)

In [7]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [10]:
alex = {'name':'Charles L. Dodgson','born':1832,'balance':950}
alex == charles

True

In [9]:
alex is charles

False

In [11]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 ==t2, t1 is t2

(True, False)

In [12]:
id(t1[-1])

4574595776

In [13]:
t1[-1].append(99)
t1,id(t1[-1])

((1, 2, [30, 40, 99]), 4574595776)

In [14]:
t1 == t2

False

In [15]:
l1 = [3,[55,44],(7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [16]:
l2 == l1

True

In [17]:
l2 is l1

False

In [22]:
l1 = [3,[66,55,44],(7,8,9)]
l2 = list(l1)

In [23]:
l1.append(100)

In [24]:
l1[1].remove(55)
print('l1:',l1)
print('l2:',l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [25]:
l2[1] += [33,22]

In [26]:
l2[2] += (10,11)

In [27]:
print('l1:',l1)
print('l2:',l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [28]:
class Bus:
    def __init__(self,passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    def pick(self,name):
        self.passengers.append(name)
    def drop(self,name):
        self.passengers.remove(name)

In [29]:
import copy
bus1 = Bus(['Alice','Bill','Claire','David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1),id(bus2),id(bus3)

(4501428208, 4574452368, 4574452688)

In [30]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [31]:
id(bus1.passengers),id(bus2.passengers),id(bus3.passengers)

(4576069632, 4576069632, 4576083840)

In [32]:
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [33]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [34]:
def f(a,b):
    a+=b
    return a

In [35]:
x =1
y = 2
f(x,y),(x,y)

(3, (1, 2))

In [36]:
a = [1,2]
b = [3,4]
f(a,b),(a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [37]:
t = (10,20)
u = (30,40)
f(t,u),(t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [46]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self,passengers = []):
        self.passengers = passengers

    def pick(self,name):
        self.passengers.append(name)
    def drop(self,name):
        self.passengers.remove(name)

In [47]:
bus1 = HauntedBus(['Alice','Bill'])
bus1.passengers

['Alice', 'Bill']

In [48]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [49]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [50]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [51]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [52]:
bus2.passengers is bus3.passengers

True

In [53]:
bus1.passengers

['Bill', 'Charlie']

In [54]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [57]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [58]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self,passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self,name):
        self.passengers.append(name)

    def drop(self,name):
        self.passengers.remove(name)

In [59]:
basketball_team = ['Sue','Tina','Maya','Diana','Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [60]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self,passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    def pick(self,name):
        self.passengers.append(name)
    def drop(self,name):
        self.passengers.remove(name)

In [63]:
basketball_team = ['Sue','Tina','Maya','Diana','Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [64]:
import weakref
s1 = {1,2,3}
s2 =s1

def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1,bye)
ender.alive

True

In [65]:
del s1
ender.alive

True

In [67]:
s2 ='spam'
ender.alive

Gone with the wind...

False